.ais-ClearRefinements {
  margin: 1em 0;
}

.ais-SearchBox {
  margin: 1em 0;
}

.ais-Pagination {
  margin-top: 1em;
}

.left-panel {
  float: left;
  width: 250px;
}

.right-panel {
  margin-left: 260px;
}

.ais-InstantSearch {
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
}

.ais-Hits-item {
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 0em;
  margin-left: 1em;
  padding: 0rem;
  width: calc(100% - 1rem);
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  flex-wrap: nowrap;
}

.hit-name {
  width:10%;
}

.sender {
  width:6%;
}

.sender img {
  width:100%;
}

.text {
  width:75%;
}

.text img {
  width:100%;
}

.hit-description {
  margin-bottom: 0.5em;
}

.ais-RangeSlider .rheostat-handle {
  height: 1.0rem;
  top: -6px;
  width: 1.0rem;
}