/* GENERAL */
* {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
}

html {
  overflow-y: scroll;
  background: #FFF;
}

h1 { 
  display: block;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: normal;
}

/* FOOTER */
footer {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #ff0000;
}
footer a:hover {
  text-decoration: underline;
  color: #ff0000;
}
